html, body {
  margin: 0;
  padding: 0;
  font-family: 'Syncopate', sans-serif;
  cursor: default;
}

ul {
  margin: 0;
  padding: 5px;
}

li {
  list-style: none;
  position: relative;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 26px;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.gandalf {
  height:25vh;
  display:block;
  margin:auto;
}

.current-song {
  font-weight: bold;
  color: blue;
}

#activityStream {
  overflow: scroll;
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100% - 155px);
  background: rgba(255,255,255,0.5);
  margin-top: 0;
  top: 50px;
  padding: 10px;
}

.chat-controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.chat-controls input {
  width: calc(100% - 40px);
}

#messageText {
  display: none;
}

#message-sending {
  width: 35px;
  position: absolute;
  top: 2px;
  right: 42px;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  border-radius: 20px;
}

input.large {
  width: 100%;
}

input.small {

}

.about {
  display: none;
}

#playlist {
  display: none;
  background: #eee;
  border-bottom: 1px solid #A7A7AA;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}

#playlist ul:nth-child(2n) {
  /*background: #bbb;*/
}

#playlist ul {
  border-top: 1px solid white;
}

#playlist ul:first-child {
  border-top: none;
}

#playlist ul:last-child {
  border-bottom: 1px solid white;
}

#playlist label {
  text-align: right;
  display: block;
}

#playlist .playing {
  width: 15px;
  margin-left: 30px;
  position: absolute;
  border-radius: 8px;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  top: 53px;
}

.block {
  margin: 20px 0;
  z-index: 100;
  position: relative;
}

.status {
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 10px;
}

.background {
  background: url('metronome.jpg');
  width: 460px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: 0;
}

.background-alt {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(5px);
  padding: 10px;
  margin: -10px 0 0 -10px;
}

.controls .button {
  cursor: pointer;
  background: rgba(167,167,170,0.4);
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
}

.controls .button i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.controls .button:hover {
  background: rgba(255,255,255,0.4);
  border: 1px solid white;
}

.material-icons {
  position: absolute;
  top: -3px;
  margin-left: 5px;
}

.main-container {
  
}

.container {
  position: absolute;
  padding: 0 20px;
  width: calc(50% - 40px);
}

.left-container {
  left: 0;
}

.right-container {
  height: 100%;
  top: 10px;
  right: 0;
  background: rgba(255,255,255,0.5);
  z-index: 10;
}

.right-container .title {
  position: absolute;
  right: 20px;
}

@media (max-width: 1390px) {
  h1 {
    font-size: 24px;
  }

  .status {
    font-size: 9px;
  }
}

@media (max-width: 1250px) {
  .status {
    font-size: 10px;
    position: relative;
    right: 0;
  }

  #loading {
    top: 2px;
    left: auto;
    right: 3px;
    width: 35px;
  }
}

@media (max-width: 1030px) {
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 870px) {
  h1 {
    font-size: 18px;
  }

  .status {
    font-size: 8px;
  }
}
