html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', serif;
  cursor: default;
  color: #eee;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

li {
  list-style: none;
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  border-radius: 20px;
}

input.large {
  width: 100%;
}

input.small {

}

.home {
  padding: 20px;
  background: black;
  margin: 0;
}

.home a {
  color: inherit;
}

.home a:hover {
  cursor: pointer;
  color: #6ab4d1;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.fadein {
  animation: fadein-frames 3s ease;
}

@keyframes fadein-frames {
  0% {opacity:0}
  100% {opacity:1}
}

.gandalf {
  height:25vh;
  display:block;
  margin:auto;
}

.current-song {
  font-weight: bold;
  background: #6ab4d1;
  color: black;
}

.current-song .is-playing {
  padding-left: 18px;
  width: calc(100% - 60px);
}

.song-row {
  position: relative;
  display: block;
}

.song-title {
  display: block;
  width: calc(100% - 54px);

  /*TODO */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-actions {
  position: absolute;
  display: block;
  top: 4px;
  right: 22px;
  width: 64px;
  height: 100%;
  text-align: right;
}

.song-actions a {
  display: inline-block;
  width: 20px;
}

.song-actions i {
  font-size: 21px;
}

.downloaded {
  position: absolute;
  top: 0;
  right: 5px;
}

#activityStream {
  position: absolute;
  font: 12px 'Open Sans';
  overflow: scroll;
  height: calc(100% - 80px);
  text-align: left;
  width: calc(100% - 40px);
  padding-right: 20px;
}

#activityStream .message:nth-child(2n) {
  /*background: rgba(255,255,255,0.3);*/
}

.message:first-child {
  border-top: none;
}

.message {
  padding: 5px 0px;
  border-top: 1px solid rgba(50,50,50,0.1);
}

.message p {
  display: inline;
  margin: 0;
  position: relative;
}

.message-image {
  width: 100%;
  margin-top: 10px;
}

.username {
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 20px;
  background: #6ab4d1;
}

.text {
  color: black;
}

.text img {
  vertical-align: middle;
  top: -2px;
  position: relative;
  padding: 0 2px;
}

.text br {
  position: absolute;
}

#chat {
  display: none;
}

.chat-controls, .playlist-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.5);
  padding: 10px 0;
}

.chat-controls input, .playlist-controls input  {
  width: calc(100% - 40px);
  display: inline-block;
}

.material-icons.emoticon-selector {
  left: 10px;
  top: 7px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

#emoticons {
  top: -155px;
  left: 0;
  height: 144px;
  width: 100%;
  z-index: 100;
  position: absolute;
  overflow: scroll;
  border-top: 1px solid #eee;
  padding: 5px 0;
  display: none;
  outline: none;
  background: rgba(255,255,255,0.5);
}

#emoticons img:hover {
  color: #6ab4d1;
  cursor: pointer;
}

.emoticons-container {
  overflow: scroll;
}

.menu {
  position: relative;
}

.menu-item {
  position: relative;
  padding: 10px;
  background: black;
}

.menu-item.active {
  background: rgba(255,255,255,0.5);
  font-weight: bold;
  color: black;
}

.menu-item.active i {

}

.menu-item:hover {
  background: #6ab4d1;
  cursor: pointer;
  color: black;
}

.menu-item i {
  position: absolute;
  top: 23px;
  right: 20px;
}

.menu-item p {

}

.menu-fill {
  height: 100vh;
  background: black;
  position: absolute;
  width: 100%;
}
.menu-item.new-activity .new-value {
  display: inline;
}
.menu .new-value {
  display: none;
  color: yellow;
}

#messageText {
  display: none;
  width: calc(100% - 90px);
  border-radius: 40px;
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px 13px;
  height: 16px;
  overflow: scroll;
  box-sizing: content-box;
  background: white;
  text-align: left;
  margin-left: 55px;
  outline: none;
  line-height: 16px;
}

#messageText img {
  vertical-align: middle;
  margin-top: -8px;
  padding: 0 2px;
}

#messageText br {
  position: absolute;
}

#message-sending {
  width: 35px;
  position: absolute;
  top: 2px;
  right: 42px;
}

.about {
  display: none;
}

#users {
  border-radius: 20px;
  background: #eee;
  border-bottom: 1px solid #A7A7AA;
  color: black;
  padding: 10px;
  display: none;
}

#users label {
  font-size: 12px;
}

#users ul {
  font-size: 12px;
  line-height: 20px;
}

#users li {
  border-radius: 20px;
}

#users li:nth-child(2n) {
  background: rgba(200,200,200,0.3);
}

#playlist {
  display: none;
  background: #eee;
  border-bottom: 1px solid #A7A7AA;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.9;
  position: absolute;
  max-height: calc(100% - 115px);
  width: calc(100% - 60px);
  overflow: scroll;
}

#playlist ul:nth-child(2n) {
  background: rgba(200,200,200,0.3);
}

#playlist li {
  /*border-top: 1px solid white;*/
  border-radius: 20px;
  padding: 3px;
}

#playlist li:first-child {
  border-top: none;
}

#playlist li:last-child {
  /*border-bottom: 1px solid white;*/
}

#playlist label, #users label {
  text-align: right;
  display: block;
  padding: 0 0 5px 0;
}

.playing {
  width: 15px;
  border-radius: 8px;
  vertical-align: middle;
  position: absolute;
  left: 4px;
  top: 4px;
}

#loading {
  position: absolute;
  margin: auto;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 20px;
  right: auto;
}

#currentThumbnail {
  display: none;
}

#rooms {
  display: none;
}

.block {
  margin: 20px;
  z-index: 100;
  position: relative;
}

.block-md {
  margin: 10px 0;
}

.status {
  margin: 0;
  padding: 0 10px;
  font-size: 11px;
  text-align: left;
  background: black;
}

.background {
  background: url('backgrounds/001.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
  padding: 10px;
  margin: -10px 0 0 -10px;
}

.background-alt {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(5px);
  padding: 10px;
  margin: -10px 0 0 -10px;
}

.button {
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 135px;
}

.controls #offsetContainer {
  display: none;
}
.controls #offsetContainer > span {
  font-size: 0.5rem;
}
.controls .range input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.controls .checkbox {
  font-size: 0.5rem;
}

.controls .button {
  background: rgba(167,167,170,0.4);
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
}

.controls .button i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.controls .button:hover {
  background: rgba(255,255,255,0.4);
  border: 1px solid white;
}

.material-icons {
  position: absolute;
  top: -3px;
}

.main-container {

}

.container {
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.left-container {
  left: 0;
  width: 200px;
  /*background: black;*/
}

.left-container .thumbnail {
  bottom: 110px;
}
.left-container .thumbnail img {
  width:100%;
}

.top-container {
  background: #888;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
}

.bottom-container {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.right-container {
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  z-index: 10;
  width: calc(100% - 200px);
  color: black;
}

.right-container .title {
  position: absolute;
  right: 20px;
}

.range {
  display:inline-block;
  background: rgba(167,167,170,0.4);
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #eee;
  position: relative;
}
.range span {
  vertical-align: top;
  line-height: 2.5rem;
}


.home-page {
  text-align: center;
}

.home-page input {
  width: 250px;
}

.box {
  position: absolute;
  padding: 40px;
  background: rgba(200,200,200,0.5);
  border-radius: 20px;
  border: 1px solid #eee;
  width: 450px;
  height: 400px;
}

.box-center {
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.help {
  margin-top: -20px;
}

.help-step {
  padding: 7px;
}

.help-step:before {
  content: '';
  position: absolute;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 22px;
  margin: -2px -5px;
}

.home-page .box .buttons {
  margin-top: 30px;
}

@media (max-height: 560px) {
  .box-center {
    margin: 75px auto;
    top: 0;
  }
}

@media (max-width: 640px) {

}
