html, body {
  margin: 0;
  padding: 0;
  font-family: 'Syncopate', sans-serif;
  cursor: default;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.gandalf {
  height:25vh;
  display:block;
  margin:auto;
}

.current-song {
  font-weight: bold;
  color: blue;
}

#activityStream {
  border: 2px inset;
  background: #eee;
  height: 150px;
  overflow: scroll;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
  border-radius: 20px;
}

input.large {
  width: 100%;
}

input.small {

}

.about {
  display: none;
}

#playlist {
  display: none;
  background: #eee;
  border-bottom: 1px solid #A7A7AA;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.5;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  top: 53px;
}

.block {
  margin: 20px;
  z-index: 100;
  position: relative;
}

.status {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 10px;
}

.background {
  background: url('metronome.jpg');
  width: 460px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: 0;
}

.background-alt {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(5px);
  padding: 10px;
  margin: -10px 0 0 -10px;
}

.controls input {
  cursor: pointer;
  background: rgba(167,167,170,0.4);
}

.controls input:hover {
  background: rgba(255,255,255,0.4);
  border: 1px solid #eee;
}

@media (max-width: 870px) {
  .status {
    position: relative;
    right: 0;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 26px;
  }

  .status {
    font-size: 11px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 18px;
  }

  .status {
    font-size: 10px;
  }

  #loading {
    top: 2px;
    left: auto;
    right: 3px;
    width: 35px;
  }
}
